<!DOCTYPE html>
<html ng-app="bootsAndCats">
<head>
  <meta charset="utf-8" />
  <title>Boots and Cats</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css" />
</head>
<body>

<div ng-controller="RhythmGeneratorController">
  <form>
    <input type="range" ng-model="tempo" min="30" max="260">{{tempo}}
    <select ng-model="prescale">
      <option value="_4_4">4/4</option>
      <option value="_3_4">3/4</option>
      <option value="_2_4">2/4</option>
      <option value="_6_8">6/8</option>
    </select>
    <div class="steps {{ prescale }}">
      <div class="step" ng-repeat="step in steps" ng-class="{active: active === $index}" ng-controller="SoundController">
        <input type="radio" name="step{{ $parent.$index }}" value="{{ sound.name }}" ng-repeat="sound in sounds" ng-model="step.sound" />
      </div>
    </div>
    <button ng-click="play()" ng-hide="playing">Play</button><button ng-click="stop()" ng-show="playing">Stop</button>
  </form>
</div>

<script src="/assets/bower/angular/angular.js"></script>
<script src="app/app.js"></script>
<script src="app/rhythm-generator/rhythm-generator.js"></script>
<script src="app/sounds/sounds.js"></script>
</body>
</html>