body {
  background-color: #ddd;
  font-family: helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  width: 500px;
}

.step {
  float: left;
  background-color: #ddd;
  border-right: 1px solid #999;
}

.step:last-child {
  border-right: 0;
}

.step input {
  height: 23px;
  margin: 0 5px;
  padding: 5px;
  box-sizing: border-box;
  display: block;
}

/* Weak Beats */
._4_4 .step:nth-child(2n-3){
  background-color: #ccc;
}

._2_4 .step:nth-child(4n-7){
  background-color: #ccc;
}

._6_8 .step:nth-child(3n-2){
  background-color: #ccc;
}

._3_4 .step:nth-child(2n-1){
  background-color: #ccc;
}

/* Medium Beats */
._4_4 .step:nth-child(4n-3){
  background-color: #999;
}

._2_4 .step:nth-child(8n-7){
  background-color: #999;
}


/* Strong Beats */
._4_4 .step:nth-child(8n-7){
  background-color: #666;
}

._2_4 .step:nth-child(16n-15){
  background-color: #666;
}

._6_8 .step:nth-child(6n-5){
  background-color: #666;
}

._3_4 .step:nth-child(6n-5){
  background-color: #666;
}

.steps .step.active {
  background-color: #2196f3;
}

.steps {
  float: left;
}

.sound-labels {
  float: left;
  text-align: right;
  text-transform: capitalize;
}

.sound-label {
  height: 23px;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  background-color: #bbb;
  border-bottom: 1px solid #999;
}

.sound-label:last-child{
  border-bottom: 0;
}

/* Strong Beats */
._4_4 .syllable:nth-child(4n-3){
  font-weight: bold;
}

._2_4 .syllable:nth-child(8n-7){
  font-weight: bold;
}

._6_8 .syllable:nth-child(6n-5){
  font-weight: bold;
}

._3_4 .syllable:nth-child(6n-5){
  font-weight: bold;
}

.sentence .active {
  color: #2196f3;
}

.beat-input {
  clear: both;
  display: inline-block;
  border: 1px solid #999;
}

.url {
  width: 80%;
}
